@using YouTubeApp.ViewModels;

@model Appointment
<form asp-action="Create" method="get">
    <div class="form-group">
        <label asp-for="Patient.LastName">Введите фамилию пациента</label>
        <input type="text" asp-for="Patient.LastName" class="form-control">
    </div>
    <div>
        <button class="btn btn-primary">Найти пациента</button>
    </div>
</form>

<form asp-action="Create" asp-controller="Appointment">
    
    <div class="form-group">
        <label asp-for="TimeOfVisit" class="control-label">Date of Appointment</label>
        @*<input type="datetime-local" asp-for="Appointment.TimeOfVisit" name="Time Of Visit" id="TimeOfVisit" data-date-format="{0:yyyy-MM-dd HH}" asp-format="{0:yyyy-MM-dd HH}" class="form-control" />*@
        <input type="text" asp-for="TimeOfVisit" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
</form>